.header{
      background: #333;
      color: white;
}
.bmi-calculate{
      max-width: 100%;
}
.bmi-info{
      max-width: 50vw;
      height: 250px;
}
.bmi-body{
      margin-top: 20px;
      margin-left: 20px;
}
.bmi-img img{
      margin-top: 30px;
      max-height: 30%;
      max-width: 40%;
}
.footer-img img{
      max-height: 250px;
      max-width: 500px;
}
footer{
      bottom: 0;
      left: 0;
      width: 100%;
      background: #333;
      color: white;
      text-align: center;
      height: 300px;
}