.header{
      height: 100px;
      background: #333;
      color: white;
}
.header img{
      height:85px;
      padding-left: 180px;
}
.body-img img{
      max-height: 100%;
      max-width: 100%;
}
.footer-img img{
      max-height: 250px;
      max-width: 500px;
}
footer{
      bottom: 0;
      left: 0;
      width: 100%;
      background: #333;
      color: white;
      text-align: center;
      height: 300px;
}