<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="/FE/STATIC/styles/bmi.css">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
      <script src="/FE/STATIC/js/bmi.js"></script>
</head>
<body>
      <div class="header text-white-65 d-flex align-items-center justify-content-center p-4">
            <h1 class="">BMI Check</h1>
      </div>
      <div class="bmi-body d-flex align-items-center">
            <div class="bmi-calculate flex-fill">
                  <form>
                        <div class="mb-3 text-start">
                            <label for="weight" class="form-label fw-bold">Weight (kg)</label>
                            <input type="number" class="form-control" id="weight" placeholder="Enter your weight">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="height" class="form-label fw-bold">Height (cm)</label>
                            <input type="number" class="form-control" id="height" placeholder="Enter your height">
                        </div>
                        <button id="cal-btn" type="button" class="btn btn-primary w-100">Calculate BMI</button>
                        <div class="mt-3 fw-bold" id="result">Your BMI: --</div>
                    </form>
            </div>
            <div class="bmi-info flex-fill text-center">
                  <h2>What is BMI?</h2>
                  <ul>
                        <li class="text-start">BMI(Body Mass Index) is a measure of weight relative to height.</li>
                        <li class="text-start">BMI is a quick, low-cost, and reliable screening measure for underweight, overweight, or obesity.</li>
                        <li class="text-start">BMI is a valuable population health measure used worldwide.</li>
                        <li class="text-start">For individuals, BMI should be considered with other factors, such as blood pressure, cholesterol levels, and physical examination.</li>
                  </ul>
            </div>
      </div>
      <div class="bmi-img d-flex justify-content-center align-items-center">
            <img src="/FE/STATIC/images/BMI-TABLE.png" alt="">
      </div>
      <footer class="d-flex text-white-65 align-items-center">
            <div class="footer-img flex-fill d-flex flex-column align-items-center">
                  <img src="/FE/STATIC/images/1813361.png" alt="">
            </div>
            <div class="flex-fill">
                  <p class="p-1">Phone number: 0000000000.</p>
                  <p class="p-1">Mail contact: *@gmail.com.</p>
            </div>
      </footer>

      <script>
            document.getElementById('cal-btn').addEventListener("click", function () {
                  let height_val = document.getElementById('height').value;
                  let weight_val = document.getElementById('weight').value;
            
                  if (height_val > 0 && height_val <= 250 && weight_val > 0 && weight_val < 300) {
                        let bmi_result = weight_val / ((height_val / 100) ** 2);
                        document.getElementById('result').innerText = `Your BMI: ${bmi_result.toFixed(2)}`;
                        
                  } 
                  else {
                        document.getElementById('result').innerText = `Please enter your weight and height!`;
                  }
                  document.getElementById('height').value=" ";
                  document.getElementById('weight').value=" ";
            });
      </script>
</body>
</html>